@import 'assets/css/reset.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

#container {
  margin: 10px 0;
}
.align-middle {
  vertical-align: middle;
}
.list-detail-card:hover {
  outline: none;
  background-color: aquamarine;
}
.clickable {
  cursor: pointer;
}
.blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
