<div fxLayout fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="5px">
  <div class="blocks" fxFlex = "95%">
    <h1 class="mat-h1">Home</h1>
  </div>
</div>
<div fxLayout fxLayoutAlign="center">
  <div class="blocks" fxFlex = "95%">
    <mat-card>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus tellus, faucibus nec viverra eu, aliquet id elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent rhoncus fringilla purus, commodo mollis sapien scelerisque vel. Mauris vel condimentum lectus, vel posuere sem. Mauris quis nunc quis odio interdum dignissim non eget elit. Sed cursus purus vel velit mollis volutpat. Praesent orci sem, pretium in risus eget, tincidunt pellentesque arcu. Donec vitae justo ac arcu pellentesque finibus quis nec nisl. Vestibulum lacinia consectetur ante, eget fringilla justo. Fusce consequat arcu sit amet tempus varius. Nulla semper et mauris vitae tempor. Vivamus leo sapien, venenatis ut lacus at, consequat elementum augue. Pellentesque sollicitudin justo id nunc congue, sed gravida lacus efficitur
      </p>
      <p>
        Vestibulum sed maximus turpis, at elementum dolor. Vestibulum ac nulla mollis, consequat lorem ac, pulvinar quam. Nulla a facilisis sapien, sit amet venenatis odio. Aenean tincidunt porttitor nisl, in mollis libero luctus id. Quisque tincidunt tincidunt massa, ac sagittis diam. Quisque bibendum purus nec blandit congue. Morbi rhoncus aliquam tortor, eget tempor augue scelerisque sit amet. Donec scelerisque dui non augue tempus, non gravida ex congue. Mauris vel justo lobortis nunc ultricies finibus. Vestibulum cursus venenatis pulvinar. In molestie, nibh et feugiat venenatis, augue turpis venenatis arcu, sit amet congue justo leo non nunc. Curabitur blandit neque sit amet nulla sodales congue. Maecenas ut erat faucibus augue bibendum fermentum quis in dolor. Duis blandit dapibus dignissim
      </p>
      <p>
        Vestibulum sed maximus turpis, at elementum dolor. Vestibulum ac nulla mollis, consequat lorem ac, pulvinar quam. Nulla a facilisis sapien, sit amet venenatis odio. Aenean tincidunt porttitor nisl, in mollis libero luctus id. Quisque tincidunt tincidunt massa, ac sagittis diam. Quisque bibendum purus nec blandit congue. Morbi rhoncus aliquam tortor, eget tempor augue scelerisque sit amet. Donec scelerisque dui non augue tempus, non gravida ex congue. Mauris vel justo lobortis nunc ultricies finibus. Vestibulum cursus venenatis pulvinar. In molestie, nibh et feugiat venenatis, augue turpis venenatis arcu, sit amet congue justo leo non nunc. Curabitur blandit neque sit amet nulla sodales congue. Maecenas ut erat faucibus augue bibendum fermentum quis in dolor. Duis blandit dapibus dignissim
      </p>
    </mat-card>
  </div>
</div>
